fastapi
uvicorn[standard]
python-multipart

Add your specific AI/Agentic libraries here

google-genai
langchain
langgraph
pydantic
tavily-python
reportlab
gunicorn

Add any other libraries used in your project